.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 411px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* Header */
.header {
}
.nav-container {
}
.navigation {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-head {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 32px;
}
.log-span {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
}
.head-menu {
  display: none;
}
.head-list {
}
.burger-btn {
  margin-right: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
}
.burger-icon {
  display: block;
  fill: #173a56;
  cursor: pointer;
}
.div-button {
  display: none;
}
@media screen and (min-width: 1158px) {
  .nav-container {
    max-width: 1400px;
  }
  .logo-head {
    margin-left: 146px;
  }
  .head-menu {
    max-width: 379px;
    display: flex;
    gap: 30px;
    position: relative;
    align-items: center;
  }
  .link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
    text-decoration: none;
  }
  .curent {
    font-weight: 600;
    color: #22343d;
  }
  .link:hover,
  .link:focus {
    font-weight: 600;
    color: #22343d;
  }
  .burger-btn {
    display: none;
  }
  .div-button {
    display: flex;
    margin-right: 148px;
    gap: 21px;
  }
  .button {
    width: 105px;
    height: 42px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #bcd0e5;
    display: block;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #173a56;
    margin: 0 auto;
    padding: 0;
    cursor: pointer;
  }
  .button-up {
    background-color: #02897a;
    color: #ffffff;
  }
}
/* Work at the speed  */
.main-section {
  max-width: 369px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.work-at {
  margin-left: 37px;
}

.work-h {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.66667;
  text-align: center;
  color: #22343d;
  margin-bottom: 16px;
}

.work-p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  text-align: center;
  color: #22343d;
  margin-bottom: 32px;
}

.button-work-div {
  display: flex;
  gap: 28px;
  margin-left: 15px;
}
.button-work {
  width: 142px;
  height: 53px;
  border-radius: 5px;
  background-color: #02897a;
  border: solid 1px #bcd0e5;
  display: block;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  padding: 0;
  cursor: pointer;
}
.div-link {
  display: flex;
  align-items: center;
  margin: auto 0;
  gap: 9px;
}
.main-link {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
}
.main-svg {
  fill: #02897a;
}

.work-png {
  max-width: 338px;
  height: 311px;
  background-color: #ffffff;
  margin-left: 37px;
}

@media screen and (min-width: 1158px) {
  .main-section {
    max-width: 1110px;
    height: 555px;
    flex-direction: row;
  }

  .work-at {
    max-width: 465px;
    height: 233px;
    margin-left: 146px;
    margin-bottom: 45px;
    justify-content: center;
  }
  .work-h {
    max-width: 465px;
    font-size: 40px;
    line-height: 1.55;
    text-align: left;
  }
  .work-p {
    max-width: 465px;
    text-align: left;
    line-height: 1.2;
  }
  .work-png {
    max-width: 610px;
    height: 555px;
    margin-bottom: 0;
  }
  .button-work-div {
    margin-left: 0;
  }
}
